@import "public/scss/style.scss";

.header_trans {
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
  border-bottom: solid 1px rgba(255, 255, 255, 0.285);
  color: #f3f3f3;
  z-index: 1;

  @include view("mobile") {
    height: 70px;
  }
}

.header_black {
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
  border-bottom: solid 1px rgba(255, 255, 255, 0.285);
  color: #f3f3f3;
  background-color: black;
  z-index: 1;

  @include view("mobile") {
    height: 70px;
  }
}

.header_container {
  max-width: 1300px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 70vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 90vw;
  }
}

.header_logo {
  width: 124.5px;
  height: 34.9px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
  }

  @include view("mobile") {
    width: 89.2px;
    height: 25px;
  }
}

.header_right {
  display: flex;
  margin: auto;
}

.herder_buttons_wrap {
  display: flex;

  @include view("mobile") {
    display: none;
  }
}

.header_icon {
  height: 16px;
  width: 20px;
  &:hover {
    cursor: pointer;
  }

  @include view("pc") {
    display: none;
  }
  @include view("middle") {
    display: none;
  }
  @include view("small") {
    display: none;
  }
  @include view("very_small") {
    display: none;
  }
}

.header_hover {
  margin: auto 1vw;
  &:hover {
    cursor: pointer;
  }
}

.header_hover:hover {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: none;
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: none;
  }
}
