@import "public/scss/style.scss";

.header_trans {
  position: fixed;
  width: 100vw;
  display: flex;
  border-bottom: solid 1px rgba(255, 255, 255, 0.285);
  color: #fff;
  z-index: 3;
  font-size: 18px;
  @include view("middle") {
    font-size: 15px;
  }
  @include view("small") {
    font-size: 15px;
  }
  @include view("very_small") {
    font-size: 15px;
  }
  @include view("mobile") {
    font-size: 15px;
  }
}

.header_black {
  position: fixed;
  width: 100vw;
  display: flex;
  border-bottom: solid 1px rgba(255, 255, 255, 0.285);
  color: black;
  background-color: white;
  z-index: 3;
  font-size: 18px;
  @include view("middle") {
    font-size: 15px;
  }
  @include view("small") {
    font-size: 15px;
  }
  @include view("very_small") {
    font-size: 15px;
  }
  @include view("mobile") {
    font-size: 15px;
  }
}

.header_container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 20px 30px 50px;
  @include view("middle") {
    padding: 20px;
  }
  @include view("small") {
    padding: 20px;
  }
  @include view("very_small") {
    padding: 20px;
  }
  @include view("mobile") {
    padding: 20px;
  }
}

.header_logo {
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.header_right {
  display: flex;
  margin: auto;
}

.herder_buttons_wrap {
  display: flex;

  @include view("mobile") {
    display: none;
  }
}

.header_icon {
  &:hover {
    cursor: pointer;
  }

  @include view("pc") {
    display: none;
  }
  @include view("middle") {
    display: none;
  }
  @include view("small") {
    display: none;
  }
  @include view("very_small") {
    display: none;
  }
}

.header_hover {
  margin: auto 1vw;
  &:hover {
    cursor: pointer;
  }
}

.header_hover:hover {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: none;
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: none;
  }
}

.image_wrap {
  width: 142.6px;
  height: 45.7px;
  position: relative;
  @include view("middle") {
    width: 101.8px;
    height: 32.6px;
  }
  @include view("small") {
    width: 101.8px;
    height: 32.6px;
  }
  @include view("very_small") {
    width: 101.8px;
    height: 32.6px;
  }
  @include view("mobile") {
    width: 101.8px;
    height: 32.6px;
  }
}
