.footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.footer_top {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  background-color: purple;
  width: 100vw;
}

.footer_bottom {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.link {
  font-weight: bold;
}
