@import "public/scss/style.scss";

.bg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}

.mask {
  position: absolute;
  background-color: #101012;
  width: 100%;
  height: 100vh;
  opacity: 0.65;
  z-index: 1;
}

.text_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 48px;
  color: #f3f3f3;
  z-index: 2;
}

.video {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.emphasis {
  color: #ceac7a;
  font-weight: bold;
  @include view("mobile") {
    margin-top: 10px;
  }
}

.title_wrap {
  margin-bottom: 30px;
  @include view("mobile") {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.content {
  height: 70px;
  font-family: NotoSansCJKKR;
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  color: #bbb;
  word-break: keep-all;
  @include view("mobile") {
    font-size: 12px;
  }
}

.icon_wrap {
  font-size: 18px;
  color: #fff;
  flex: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 88%;
  @include view("mobile") {
    font-size: 12px;
  }
}

.icon {
  margin-bottom: 11px;
  width: 36px;
  height: 50px;
  position: relative;
  @include view("mobile") {
    width: 24px;
    height: 33px;
  }
}
