@import "/public/scss/style.scss";

.container {
  background-color: #fff;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrap {
  max-width: 1030px;
  padding: 100px 0;
  @include view("small") {
    width: 345px;
  }
  @include view("very_small") {
    width: 345px;
  }
  @include view("mobile") {
    width: 345px;
  }
}

.img_wraper {
  display: flex;
  justify-content: space-between;
  @include view("pc") {
    min-width: 1020px;
  }
  @include view("middle") {
    min-width: 1020px;
  }
  @include view("small") {
    flex-direction: column;
  }
  @include view("very_small") {
    flex-direction: column;
  }
  @include view("mobile") {
    flex-direction: column;
  }
}

.title_wrap {
  margin-bottom: 30px;
}
