.container {
  background-color: #fff;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrap {
  max-width: 1030px;
  padding: 100px 0;
}

.img_wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1030px;
  justify-content: space-between;
  margin-top: 60px;
}

.title_wrap {
  padding: 0 10px;
}
