@import "public/scss/style.scss";

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/img/step/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  @include view("mobile") {
    height: auto;
    padding: 50px 0;
  }
}

.title {
  font-size: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  @include view("mobile") {
    font-size: 30px;
  }
}

.content {
  font-size: 1.05vw;
  color: #a1a1a1;
  font-family: NotoSansCJKKR;
  font-weight: 300;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 35px 0;
  @include view("middle") {
    font-size: 1.3vw;
  }
  @include view("small") {
    font-size: 1.5vw;
  }
  @include view("very_small") {
    font-size: 1.7vw;
  }
  @include view("mobile") {
    font-size: 12px;
  }
}

.bottom_wrap {
  @include view("mobile") {
    display: flex;
    margin: auto;
  }
}

.image {
  height: 103px;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 70vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 82.5px;
    height: 879px;
    margin: 0;
  }
}

.text_wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1300px;
  font-family: NotoSansCJKKR;
  font-weight: 300;

  @include view("small") {
    width: 85vw;
  }
  @include view("very_small") {
    width: 90vw;
  }
  @include view("mobile") {
    display: flex;
    margin-left: 0;
    flex-direction: column;
    width: auto;
    justify-content: space-around;
    margin-top: 0;
  }
}

.text {
  font-size: 1.05vw;
  color: #a1a1a1;
  line-height: 1.45;
  text-align: center;
  @include view("middle") {
    font-size: 1.3vw;
  }
  @include view("small") {
    font-size: 1.5vw;
  }
  @include view("very_small") {
    font-size: 1.7vw;
  }
  @include view("mobile") {
    font-size: 12px;
    text-align: left;
    margin-left: 30px;
  }
}
