@import "public/scss/style.scss";

.container {
  overflow-y: scroll;
  border-radius: 8px;
  border: solid 1px gray;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 0.9vw;
  letter-spacing: 0.5px;
  @include view("small") {
    font-size: 1.2vw;
  }
  @include view("very_small") {
    font-size: 1.5vw;
  }
  @include view("mobile") {
    font-size: 2.2vw;
  }
}

.title {
  font-size: 1.1vw;
  font-weight: bold;
  text-decoration: underline;
  margin: 17px 0 5px 0;
  @include view("small") {
    font-size: 1.5vw;
  }
  @include view("very_small") {
    font-size: 1.8vw;
  }
  @include view("mobile") {
    font-size: 2.5vw;
  }
}
