@import "/public/scss/style.scss";

.item_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.item_body {
  height: 100vh;
  width: 100vw;
}

.item_top {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_top_wrap {
  display: flex;
  width: 71vw;
  max-width: 1300px;
  height: 100%;
  justify-content: space-between;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    flex-direction: column;
    justify-content: end;
    width: 95vw;
  }
  @include view("mobile") {
    flex-direction: column;
    justify-content: flex-end;
    width: 95vw;
  }
}

.item_top_img {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 3vw;
  img {
    width: 524px;
    height: 716px;
    object-fit: contain;

    @include view("very_small") {
      width: 100%;
      height: 77vw;
    }
    @include view("mobile") {
      width: 100%;
      height: 60vh;
    }
  }

  @include view("very_small") {
    height: auto;
    display: flex;
    margin: 0;
    justify-content: center;
  }
  @include view("mobile") {
    height: auto;
    display: flex;
    margin: 0;
    justify-content: center;
  }
}

.item_bottom {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_bottom_left {
  display: flex;
  width: 71vw;
  max-width: 1300px;
  height: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-left: 1.7vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    flex-direction: column;
    justify-content: center;
    padding-top: 3vw;
  }
  @include view("mobile") {
    flex-direction: column;
    justify-content: center;
    padding-top: 3vw;
    padding-left: 0;
  }
}

.item_bottom_right {
  display: flex;
  width: 71vw;
  max-width: 1300px;
  height: 100%;
  justify-content: space-between;
  padding-right: 1.7vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    flex-direction: column;
    justify-content: center;
  }
  @include view("mobile") {
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
  }
}

.item_bottom_img {
  height: 100%;
  display: flex;
  align-items: center;
  img {
    width: 524px;
    height: 716px;
    object-fit: contain;

    @include view("very_small") {
      width: 100%;
      height: 75vw;
    }
    @include view("mobile") {
      width: 100%;
      height: 90vw;
    }
  }

  @include view("very_small") {
    height: auto;
    display: flex;
    margin: 0;
    img {
      object-fit: contain;
    }
  }
  @include view("mobile") {
    height: auto;
    display: flex;
    margin: 0;
    img {
      object-fit: contain;
    }
  }
}

.item_two_wrap {
  .container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
    color: #8f8f8f;
    font-size: 20px;
    text-align: center;
    @include view("pc") {
      padding: 0;
    }
  }
}
