@import "/public/scss/style.scss";

.container_orange {
  background-color: #f9f9f9;
  color: #333;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 50px 0;
}

.container_white {
  background-color: #ff7401;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 50px 0;
}

.content_wrap {
  border-radius: 100%;
  max-width: 1010px;
  width: 90vw;
}

.image_home {
  position: relative;
  max-width: 1020px;
  height: 484px;
  margin-top: 60px;
  width: 100%;
  @include view("mobile") {
    width: 100%;
    height: 70vw;
    max-height: 320px;
  }
}

.image {
  position: relative;
  width: 1020px;
  height: 584px;
  margin-top: 60px;
}

.image_service {
  position: relative;
  width: 1020px;
  height: 584px;
  margin-top: 60px;
  @include view("small") {
    width: 216px;
    height: 905px;
    margin-top: 35px;
  }
  @include view("very_small") {
    width: 216px;
    height: 905px;
    margin-top: 35px;
  }
  @include view("mobile") {
    width: 216px;
    height: 905px;
    margin-top: 30px;
  }
}

.image_consulting {
  position: relative;
  max-width: 1020px;
  height: 584px;
  width: 100%;
  margin-top: 60px;
  @include view("mobile") {
    width: 100%;
    height: 70vw;
    margin-top: 30px;
    max-height: 341px;
  }
}
