@import "public/scss/style.scss";

.container {
  background-color: #fff;
  height: 100vh;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;

  max-width: 1300px;
  display: flex;
  width: 70vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 90vw;
    margin: 0 auto 10px auto;
  }
}

.title {
  font-size: 50px;
  color: #ceac7a;
  font-weight: 500;
  text-align: center;
  margin: 30px 0;
  @include view("mobile") {
    font-size: 30px;
  }
}

.sub_title {
  font-size: 20px;
  color: #575454;
  font-family: NotoSansCJKKR;
  font-weight: 300;
  text-align: center;
  margin-bottom: 90px;
  @include view("mobile") {
    font-size: 12px;
    margin-bottom: 50px;
  }
}

.name {
  font-size: 18px;
  color: #333333;
  font-family: NotoSansCJKKR;
  font-weight: 500;
  @include view("mobile") {
    font-size: 12px;
  }
}

.inputs {
  height: 50px;
  background-color: #f9f9f9;
  border: none;
  font-size: 18px;
  color: #8f8f8f;
  font-family: NotoSansCJKKR;
  font-weight: 500;
  padding: 0 10px;
  margin-top: 10px;
  outline: none;
  @include view("mobile") {
    height: 40px;
  }
}

.inputs::placeholder {
  color: #dddddd;
  font-weight: 100;
}

.input_content {
  height: 120px;
  overflow-y: scroll;
  background-color: #f9f9f9;
  border: none;
  font-size: 18px;
  color: #8f8f8f;
  font-family: NotoSansCJKKR;
  font-weight: 500;
  padding: 10px 10px;
  margin-top: 10px;
  outline: none;
  @include view("mobile") {
    height: 215px;
  }
}

.input_content::placeholder {
  color: #dddddd;
  font-weight: 100;
}

.btn_wrap {
  display: flex;
  flex-direction: column;
  margin: auto;

  max-width: 1300px;
  display: flex;
  width: 70vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 90vw;
  }
}

.btn {
  font-size: 18px;
  color: #fff;
  height: 70px;
  background-color: #ceac7a;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  @include view("mobile") {
    height: 45px;
    font-size: 12px;
  }
}

.btn:disabled {
  background-color: #8f8f8f;
  cursor: default;
}

.image {
  justify-content: center;
  display: flex;
  height: 126px;
  width: 90px;
  margin: auto;
  position: relative;
  @include view("mobile") {
    width: 36px;
    height: 50px;
  }
}

.notice {
  color: rgba(255, 0, 0, 0.741);
  font-size: 18px;
  margin-top: 1.5px;
  @include view("mobile") {
    font-size: 12px;
  }
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}

.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}

@keyframes Toastify__bounceOut {
  to {
    opacity: 0;
  }
}
@keyframes Toastify__bounceIn {
  to {
    opacity: 1;
  }
}

.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceIn;
}

.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOut;
}
