@import "/public/scss/style.scss";

.content_container {
  color: white;
  display: flex;
  align-items: center;
  z-index: 0;
  opacity: 0;

  @include view("very_small") {
    justify-content: center;
    padding: 4vw 0;
  }
  @include view("mobile") {
    justify-content: center;
    padding: 11vw 0;
  }
}

.content_wrap {
  h2 {
    font-size: 50px;
    color: #f3f3f3;
    font-weight: 400;
  }
  div {
    font-size: 50px;
    color: #8252f5;
    font-weight: 800;
    margin-bottom: 7px;
  }
  span {
    font-size: 32px;
    display: flex;
    color: #636363;
  }

  @include view("middle") {
    h2,
    div {
      font-size: 2.5vw;
    }
    span {
      font-size: 1.7vw;
    }
  }
  @include view("small") {
    h2,
    div {
      font-size: 3vw;
    }
    span {
      font-size: 2.3vw;
    }
  }
  @include view("very_small") {
    text-align: center;
    h2,
    div {
      font-size: 26px;
    }
    span {
      font-size: 14px;
      justify-content: center;
    }
  }
  @include view("mobile") {
    text-align: center;
    h2,
    div {
      font-size: 23px;
    }
    span {
      font-size: 14px;
      justify-content: center;
    }
  }
}

.content_coming {
  font-size: 25px !important;
  color: #916ceb !important;
  font-weight: 800 !important;
  @include view("mobile") {
    font-size: 13px !important;
    margin-bottom: 0 !important;
  }
  @include view("very_small") {
    font-size: 13px !important;
    margin-bottom: 0 !important;
  }
}

.content_opacity {
  animation: content_opacity 1s forwards ease-in-out;
}

@keyframes content_opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}