@import "/public/scss/style.scss";

.content {
  color: white;
  display: flex;
  margin: 11vh 0 auto 0;

  @include view("mobile") {
    margin: auto auto 4vh auto;
  }
}

.content_body {
  h2 {
    font-size: 2.7vw;
    color: #f3f3f3;
    font-weight: 400;
  }
  div {
    font-size: 2.7vw;
    color: #8252f5;
    font-weight: 800;
    margin-bottom: 7px;
  }
  span {
    font-size: 1.7vw;
    display: flex;
    color: #636363;
  }
  @include view("mobile") {
    text-align: center;
    h2, div {
      font-size: 26px;
    }
    span {
      font-size: 14px;
      justify-content: center;
    }
  }
}

.coming {
  font-size: 1.4vw !important;
  color: #916CEB !important;
  font-weight: 800 !important;
  @include view("mobile") {
    font-size: 13px !important;
    margin-bottom: 0 !important;
  }
}