@import "public/scss/style.scss";

.header_body {
  display: flex;
  width: 80vw;
  margin: auto;
}

.header_white {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  padding: 20px 10px 20px 30px;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.775);
  animation: fadein_one 0.5s ease-in-out;
}

.header_trans {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  padding: 20px 10px 20px 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgba(255, 255, 255, 0.511);
  animation: fadein_two 0.5s ease-in-out;
}

.logo_white {
  width: 130px;
  margin: 10px auto 0 0;
  img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}

.logo_blue {
  width: 130px;
  img {
    width: 100%;
  }
}

.header_right {
  display: flex;
}

.header_menu {
  display: flex;
  @include view("mobile") {
  display: none;
  }
  div {
    margin: auto 15px auto auto;
  }

  @include view("pc") {
    font-size: 20px;
    font-weight: bold;
  }

  @include view("middle") {
    font-size: 15px;
  }
}

.sign_blue {
  display: flex;
  font-weight: bold;
  color: rgba(0, 0, 255, 0.769);
  border: 1px solid blue;
  margin: auto;
  padding: 7px 0 7px 15px;
  div {
    margin: 0 15px 0 0;
  }
}

.sign_trans {
  display: flex;
  font-weight: bold;
  border: 1px solid white;
  padding: 7px 0 7px 15px;
  div {
    margin: 0 15px 0 0;
  }
}

.line_white {
  border-left: 1px solid white;
}

.line_blue {
  border-left: 1px solid blue;
}

.menu_icon {
    @include view("middle") {
      display: none;
    }
    @include view("pc") {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

@keyframes fadein_one {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein_two {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
