.more_inside {
  display: flex;
  flex-direction: column;
}

.more_item {
  background-color: rgba(128, 128, 128, 0.114);
  color: rgba(62, 59, 59, 0.457);
  display: flex;
  height: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
  align-items: center;
  span {
    margin-left: 15px;
  }
}
