@import "public/scss/style.scss";

.container {
  background-color: #f9f9f9;
  color: #888888;
  font-size: 14px;
  min-height: 225px;
  border-bottom: solid 1px #dfdfdf;
  display: flex;
  align-items: center;
  @include view("mobile") {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.wrap {
  max-width: 1300px;
  display: flex;
  margin: auto;
  width: 70vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 90vw;
  }
}

.top_container {
  display: flex;
  @include view("mobile") {
    flex-direction: column;
  }
}

.top_wrap {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.title {
  font-size: 18px;
  color: #333333;
  margin: 9px 0;
  @include view("mobile") {
    margin: 13px 0;
  }
}

.content {
  margin: 10px 0;
  font-weight: 500;
}

.image {
  position: relative;
  width: 126px;
  height: 41px;
  @include view("mobile") {
    width: 98px;
    height: 32px;
    margin-bottom: 10px;
  }
}

.bottom_container {
  height: 173px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  color: #888;
}

.bottom_wrap {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70vw;

  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 90vw;
  }
}

.text_wrap {
  font-size: 14px;
  @include view("mobile") {
    display: flex;
    flex-direction: column;
  }
}

.reserved {
  margin-top: 10px;
  @include view("mobile") {
    margin: 0;
  }
}

.bottom_content {
  margin-bottom: 10px;
}
//////
.pointer {
  width: 200px;
  height: 40px;
  position: relative;
  background: red;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
