@import "public/scss/style.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 1.04vw;
  color: #8f8f8f;
  align-items: flex-end;
  padding: 150px 0;
  @include view("middle") {
    font-size: 1.3vw;
  }
  @include view("small") {
    font-size: 1.5vw;
  }
  @include view("very_small") {
    font-size: 1.5vw;
  }
  @include view("mobile") {
    font-size: 12px;
  }
}

.top_container_reverse {
  width: 100%;
}

.top_container {
  @include view("small") {
    width: 100%;
  }
  @include view("very_small") {
    width: 100%;
  }
  @include view("mobile") {
    width: 100%;
  }
}

.top_wrap {
  font-size: 50px;
  color: #ceac7a;
  max-width: 1610px;
  width: 85vw;
  display: flex;
  margin-right: 0;
  border-bottom: solid 1px #d5d5d5;
  margin-bottom: 50px;
  padding-bottom: 10px;
  @include view("middle") {
    margin-bottom: 100px;
  }
  @include view("small") {
    width: 100%;
    justify-content: center;
  }
  @include view("very_small") {
    width: 100%;
    justify-content: center;
  }
  @include view("mobile") {
    width: 100%;
    justify-content: center;
  }
}

.top_wrap_reverse {
  font-size: 50px;
  color: #ceac7a;
  width: 57.5vw;
  display: flex;
  margin-right: 0;
  justify-content: right;
  border-bottom: solid 1px #d5d5d5;
  margin-bottom: 50px;
  padding-bottom: 10px;
  @include view("middle") {
    margin-bottom: 100px;
  }
  @include view("small") {
    width: 100%;
    justify-content: center;
  }
  @include view("very_small") {
    width: 100%;
    justify-content: center;
  }
  @include view("mobile") {
    width: 100%;
    justify-content: center;
  }
}

.bottom {
  display: flex;
  max-width: 1610px;
  width: 85vw;
  justify-content: space-between;
  @include view("small") {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  @include view("very_small") {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  @include view("mobile") {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

.bottom_reverse {
  display: flex;
  width: 100vw;
  justify-content: left;
  flex-direction: row-reverse;
  @include view("small") {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  @include view("very_small") {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  @include view("mobile") {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  position: relative;
  width: 51.8vw;
  height: 25.5vw;
  @include view("middle") {
    height: 30vw;
  }
  @include view("small") {
    margin: 50px 0;
  }
  @include view("very_small") {
    margin: 50px 0;
    height: 320px;
    width: 550px;
  }
  @include view("mobile") {
    margin: 50px 0;
    width: 100%;
    height: 50vh;
  }
}

.right_reverse {
  position: relative;
  width: 51.8vw;
  height: 25.5vw;
  margin-right: 3.35vw;
  @include view("middle") {
    height: 30vw;
  }
  @include view("small") {
    margin: 50px 0;
  }
  @include view("very_small") {
    margin: 50px 0;
    height: 320px;
    width: 550px;
  }
  @include view("mobile") {
    margin: 50px 0;
    width: 100%;
    height: 50vh;
  }
}

.title {
  color: #ceac7a;
  font-size: 2.6vw;
  @include view("mobile") {
    font-size: 30px;
  }
}

.sub_title {
  color: #333333;
  font-size: 2.6vw;
  line-height: 1.3;
  @include view("mobile") {
    font-size: 30px;
  }
}

.content_top {
  margin: 40px 0;
  line-height: 1.45;
  font-family: NotoSansCJKKR;
  font-weight: 300;
  @include view("small") {
    margin: 20px 0;
  }
  @include view("very_small") {
    margin: 20px 0;
  }
  @include view("mobile") {
    margin: 20px 0;
  }
}

.content_bottom {
  line-height: 1.45;
  font-family: NotoSansCJKKR;
  font-weight: 300;
}

.IMC {
  color: #333333;
  font-size: 1.04vw;
  @include view("middle") {
    font-size: 1.3vw;
  }
  @include view("small") {
    font-size: 1.5vw;
  }
  @include view("very_small") {
    font-size: 1.5vw;
  }
  @include view("mobile") {
    font-size: 14px;
  }
}
