@import "public/scss/style.scss";

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  color: #8f8f8f;
  padding: 0;
  @include view("small") {
    font-size: 1.5vw;
  }
  @include view("very_small") {
    padding: 7%;
  }
  @include view("mobile") {
    padding: 50px 20px;
  }
}

.bottom_container {
  display: flex;
  max-width: 1300px;
  width: 70vw;
  flex-direction: column;
  justify-content: center;
  @include view("pc") {
    flex-direction: row;
  }
  @include view("middle") {
    flex-direction: row;
  }
  @include view("small") {
    flex-direction: row;
    width: 100vw;
  }
  @include view("very_small") {
    align-items: center;
  }
  @include view("mobile") {
    width: 100%;
  }
}

.bottom_wrap {
  display: flex;
  flex-direction: column;
  width: 407px;

  @include view("pc") {
    width: 407px;
    margin: 30px 20px 0 20px;
  }
  @include view("middle") {
    width: 407px;
    margin: 30px 20px 0 20px;
  }
  @include view("small") {
    width: 30vw;
    margin: 30px 10px 0 10px;
  }
  @include view("very_small") {
    align-items: center;
  }
  @include view("mobile") {
    width: 100%;
  }
}

.top_container {
  @include view("mobile") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.3;
  }
}

.title {
  font-size: 50px;
  color: #333333;
  letter-spacing: -1.25px;
  @include view("very_small") {
    font-size: 5vw;
  }
  @include view("mobile") {
    font-size: 30px;
    font-weight: 500;
  }
}

.emphasis {
  font-size: 50px;
  color: #ceac7a;
  letter-spacing: -1.25px;
  @include view("very_small") {
    font-size: 5vw;
  }
  @include view("mobile") {
    font-size: 30px;
    font-weight: 500;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 20vw;
  @include view("very_small") {
    margin-top: 30px;
    height: 30vw;
  }
  @include view("mobile") {
    min-height: 222px;
    height: 30vh;
  }
}

.sub_title {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
  font-size: 1.02vw;
  font-family: NotoSansCJKKR;
  font-weight: 300;
  @include view("small") {
    font-size: 15px;
  }
  @include view("very_small") {
    font-size: 15px;
  }
  @include view("mobile") {
    margin: 20px 0 40px 0;
    font-size: 12px;
  }
}

.bottom_title_right {
  color: #474747;
  margin: 20px 0;
  text-align: center;
  @include view("pc") {
    font-size: 1.36vw;
  }
  @include view("middle") {
    font-size: 1.36vw;
  }
  @include view("small") {
    font-size: 2.1vw;
  }
  @include view("very_small") {
    margin: 30px 0 10px 0;
    font-size: 20px;
  }
  @include view("mobile") {
    margin: 30px 0 10px 0;
    text-align: right;
    font-size: 20px;
  }
}

.bottom_content_right {
  display: flex;
  margin: 0 25px;
  word-break: keep-all;
  line-height: 1.3;
  justify-content: center;
  text-align: center;
  font-size: 1.02vw;
  font-family: NotoSansCJKKR;
  font-weight: 300;
  @include view("small") {
    font-size: 15px;
  }
  @include view("very_small") {
    margin: 0 0 45px 0;
    font-size: 15px;
  }
  @include view("mobile") {
    margin: 0 0 50px auto;
    width: 210px;
    font-size: 12px;
    justify-content: right;
    text-align: right;
  }
}

.bottom_title_center {
  font-size: 1.36vw;
  color: #474747;
  margin: 20px 0;
  text-align: center;
  @include view("small") {
    font-size: 2.1vw;
  }
  @include view("very_small") {
    margin: 30px 0 10px 0;
    font-size: 20px;
  }
  @include view("mobile") {
    margin: 30px 0 10px 0;
    font-size: 20px;
  }
}

.bottom_content_center {
  display: flex;
  margin: 0 25px;
  word-break: keep-all;
  line-height: 1.3;
  text-align: center;
  font-size: 1.02vw;
  font-family: NotoSansCJKKR;
  font-weight: 300;
  @include view("small") {
    font-size: 15px;
  }
  @include view("very_small") {
    margin: 0 0 45px 0;
    font-size: 15px;
  }
  @include view("mobile") {
    margin: 0 auto 50px auto;
    width: 268px;
    font-size: 12px;
  }
}

.bottom_title_left {
  font-size: 1.36vw;
  color: #474747;
  margin: 20px 0;
  text-align: center;
  @include view("small") {
    font-size: 2.1vw;
  }
  @include view("very_small") {
    margin: 30px 0 10px 0;
    font-size: 20px;
  }
  @include view("mobile") {
    margin: 30px 0 10px 0;
    font-size: 20px;
    text-align: left;
  }
}

.bottom_content_left {
  display: flex;
  margin: 0 25px;
  line-height: 1.3;
  justify-content: center;
  text-align: center;
  font-size: 1.02vw;
  font-family: NotoSansCJKKR;
  font-weight: 300;
  @include view("small") {
    font-size: 15px;
  }
  @include view("very_small") {
    margin: 0 0 45px 0;
    font-size: 15px;
  }
  @include view("mobile") {
    margin: 0 0 50px 0;
    width: 267px;
    font-size: 12px;
    text-align: left;
  }
}
