.container {
  margin-right: 78.5px;
}

.title_wrap {
  margin-bottom: 9px;
  font-size: 18px;
  color: #313131;
  font-weight: bold;
  white-space: pre;
}

.content_wrap {
  display: flex;
}

.month {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #313131;
  white-space: pre;
}
