@mixin view($breakpoint) {
  @if ($breakpoint == "pc") {
    @media (min-width: 1520px) and (max-width: 1920px) {
      @content;
    }
  }

  @if ($breakpoint == "middle") {
    @media (min-width: 1300px) and (max-width: 1519px) {
      @content;
    }
  }

  @if ($breakpoint == "small") {
    @media (min-width: 1030px) and (max-width: 1299px) {
      @content;
    }
  }

  @if ($breakpoint == "very_small") {
    @media (min-width: 760px) and (max-width: 1029px) {
      @content;
    }
  }

  @if ($breakpoint == "mobile") {
    @media (max-width: 759px) {
      @content;
    }
  }
}
